<!DOCTYPE html>
<html>
<head>
	<title>{{page_name}}</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
<style type="text/css">
	.topnav {
	  margin-top: -48px;
	  overflow: hidden;
	  background-color: #332D2D;
	}
	
	.topnav a {
	  float: left;
	  color: #f2f2f2;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  font-size: 17px;
	}
</style>
</head>
<body>
<div class="pt-5"> 

	<div class="topnav">
 		<a class="navbar-brand mr-4">Your App Name </a>
		<a href="/logout"  style="float: right;">Logout</a>
	</div>

	<br>
	<br>
	<br>

	<div class="global-container">  
		
		
		<h2 style="margin-left: 30px;">Inster New AD</h2>
		<p style="margin-left: 30px;">{{emsg}}</p>
		<form action="/advertiser/insert" method="post" enctype="multipart/form-data">
			<div class="form-group">  
			<table style="margin-left: 30px;">
				<tr>
					<td>AD Name</td>
					<td><input type="text" name="ad_name" class="form-control form-control-sm" placeholder="Name of AD...*" required></td>
				</tr>
				<tr>
					<td>Link</td>
					<td><input type="text" name="link" class="form-control form-control-sm" placeholder="Link ...*" required></td>
				</tr>
				<tr>
					<td>AD Type</td>
					<td>
						<select name="ad_type" class="form-control form-control-sm" id="ad_type" placeholder="Type of AD...*" required>
							<option>None</option>
							<option value="Leaderboard">Leaderboard</option>
							<option value="Large-rectangle">Large rectangle</option>
							<option value="Medium-rectangle">Medium rectangle</option>
							<option value="Mobile-banner">Mobile banner</option>
							<option value="Wide-skyscraper">Wide skyscraper</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Price (per day)</td>
					<td><input type="text" id="price_data" class="form-control form-control-sm" value="" disabled></td>
				</tr>
				<tr>
					<td><label>Upload Img</label></td>
					<td><input type="file" name="file" class="form-control form-control-sm" required></td>
				</tr>
				<tr>
					<td><label>Start</label></td>
					<td><div id='startDate' class="form-group"></div></td>
				</tr>
				<tr>
					<td><label>End</label></td>
					<td><div id="endDate" class="form-group"></div></td>
				</tr>
				<tr>
					<td><input style="margin-top: 30px;" type="submit" class="btn btn-primary" value="Inster"></td>
				</tr>
		
			</table>
			</div>
			
		</form>
		
		<div id="img_place" style="float: right; margin-right: 20%; margin-top: -20%;"></div>
		
		
		<script type="text/javascript">
		
		    const date = new Date();
		    let day = date.getDate();
			let month = date.getMonth();
			let year = date.getFullYear();
		
			if (day.toString().length == 1) {day = "0" + day;}
			if (month.toString().length == 1) {month = "0" + month;}
		
			var porp_date = year+'-'+month+'-'+day
		    var s_Date = '<input type="text" class="form-control" id="sdate" name="sdate" autocomplete="off" min="';
		    var s_Date1 = '" required read-only>';
		    $("#startDate").append(s_Date+porp_date+s_Date1);
		    $('#sdate').datepicker({
			    dateFormat: 'yy-mm-dd',
				minDate: new Date(year,month,day)
			});
		
		    $("#sdate").change(function(){ 
				var ee_date = new Date($('#sdate').val());
				var eday = ee_date.getDate()+1;
				var emonth = ee_date.getMonth();
				var eyear = ee_date.getFullYear();
		
		    	var e_Date = '<input type="text" class="form-control" id="edate" name="edate" autocomplete="off" min="';
		    	var e_Date1 = '" required read-only>';
		    	if (eday.toString().length == 1) {eday = "0" + eday;}
				if (emonth.toString().length == 1) {emonth = "0" + emonth;}
				$('#endDate').empty();
				$("#endDate").append(e_Date+[eyear,emonth,eday].join('-')+e_Date1);  
				$(function () {
				  $('#edate').datepicker({
				    dateFormat: 'yy-mm-dd',
				    minDate: new Date(eyear,emonth,eday)
				  });
				});
			});
		
			$("#ad_type").change(function(){
				var price = 0;
				var place = '<img src="http://127.0.0.1:5004/static/imgs/';
				var place1 = '.png">';
				var get_val_data = $('#ad_type').val();
				// console.log(get_val_data);

				if(get_val_data == "Leaderboard")
				{
					price = 1000;
					$('#price_data').val(price);
				}
				else if (get_val_data == "Large-rectangle")
				{
					price = 1100;
					$('#price_data').val(price);
				}
				else if (get_val_data == "Medium-rectangle")
				{
					price = 1200;
					$('#price_data').val(price);
				}
				else if (get_val_data == "Mobile-banner")
				{
					price = 1300;
					$('#price_data').val(price);
				}
				else if (get_val_data == "Wide-skyscraper")
				{
					price = 1400;
					$('#price_data').val(price);
				}
		
				$('')
				$('#img_place').empty();

				if (get_val_data != 'None')
				{
					$('#img_place').append(place+get_val_data+place1);
				}
				else
				{
					$('#price_data').val('');
				}
			});
		
		
		
		
		

</script>
	</div>
</div>

</body>
</html>