<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/landing/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/landing/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/landing/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/landing/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/landing/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/landing/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/landing/assets/css/style.css" rel="stylesheet">
<style type="text/css">
  
.topnav {
  overflow: hidden;
  background-color: #332D2D;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

</style>
</head>

<body>

  <div class="topnav">
    <a class="navbar-brand mr-4" >Your App Name </a>
    <a href="/logout"  style="float: right;">Logout</a>
  </div>

  <main id="main">

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Pricing</h2>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="box" data-aos="zoom-in">
              <h3>Basic</h3>
              <h4><sup>$</sup>10<span> / Day</span></h4>
              <ul>
                <li>Get any 2 types of ADs</li>
              </ul>
              <div class="btn-wrap">
                <a href="offers/insert?id=1" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
            <div class="box featured" data-aos="zoom-in" data-aos-delay="100">
              <h3>Classic</h3>
              <h4><sup>$</sup>19<span> / Day</span></h4>
              <ul>
                <li>Get any 3 types of ADs</li>
              </ul>
              <div class="btn-wrap">
                <a href="offers/insert?id=2" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <h3>Business</h3>
              <h4><sup>$</sup>29<span> / Day</span></h4>
              <ul>
                <li>Get any 4 types of ADs</li>
              </ul>
              <div class="btn-wrap">
                <a href="offers/insert?id=3" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <span class="advanced">Advanced</span>
              <h3>Ultimate</h3>
              <h4><sup>$</sup>49<span> / Day</span></h4>
              <ul>
                <li>Get any 5 types of ADs</li>
              </ul>
              <div class="btn-wrap">
                <a href="offers/insert?id=4" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
 

  <!-- Vendor JS Files -->
  <script src="/static/landing/assets/vendor/aos/aos.js"></script>
  <script src="/static/landing/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/landing/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/landing/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/landing/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/landing/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/landing/assets/js/main.js"></script>

</body>

</html>